# Variables de entorno - Switch de Pagos BanQuito

# API Configuration
VITE_API_BASE_URL=http://localhost:8080/api/v1

# Application Settings
VITE_APP_NAME=BanQuito
VITE_APP_SUBTITLE=Switch Pagos Masivos
VITE_ENVIRONMENT=development

# Vite Server Configuration
VITE_BASE_PATH=/switch/
# Multiple hosts separated by commas
VITE_ALLOWED_HOSTS=banbanquito.3utilities.com,localhost,127.0.0.1

# Authentication
VITE_MOCK_AUTH_ENABLED=false
VITE_DEFAULT_ADMIN_USER=admin
